body {
    background-color: rgb(139, 180, 144);
}

h1, h2 {
    text-align: center;
}

p {
    color: white;
    font-size: 25px;
}

.flexMe{
    text-align: center;
    border: 3px solid;
    display: flex;
    justify-content: space-evenly;
}

